#content1 {
  padding-top: 85px;
  color: rgb(61, 73, 87); }
#content1 h1#content-title {
	font-size: 2rem;
  font-weight: 700;
  color: rgb(61, 73, 87); }
figure>a:hover {
  text-decoration: none;
  color: rgb(61, 73, 87); }
