/*----------------------------------------------------------
Index Content Styles
----------------------------------------------------------*/
/**/
#content2,
#content3,
#content4,
#content5 {
  padding-top: 100px;
  padding-bottom: 120px; }

#content2 {
  background-image: linear-gradient(#fff, #fff, #fff5f3) !important;
  width: auto; }
#content3 {
  height: 100%;
  width: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../imgs/bg-blue-layer.png) !important;
  background-position: bottom; }
#content4 .p-3 {
  border-radius:10px;
  margin: 10px; }
#content4 {
  margin-top: -5px;
  background: #151730 !important; }
#content5 { background: #fff !important; }
#content5 .row .p-4 { align-self: baseline; }
#content2 .row img {
  width: 65px;
  margin-bottom: 30px; }
#content3 .col-md { margin-bottom: 52px; }
#content3 .row .x-image img { width: 30px; }
#content3 .row .x-image {
  background-color: #E6211A;
  border-radius: 50%;
  padding: 44px 39px; }
#content3 .justify-content-between .col-md-2 { margin-bottom: 55px; }

/*Curve arrows*/
#curved-arrow-down {
  position: absolute;
  top: -44px;
  left: calc(72% - 1%);;
  width: 20%;
  height: 50px; }
#curved-arrow-up {
  position: absolute;
  top: 44px;
  left: calc(72% - 1%);;
  width: 20%;
  height: 50px; }
#curved-arrow-up img {
  -webkit-transform: rotate(90deg) scale(0.2); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: rotate(90deg) scale(0.2); /* IE 9 */
  transform: rotate(178deg) scaleX(-1);
}

/*Promo Dialog Box*/
#promoModal .modal-dialog .modal-content {
  background-image: url(../imgs/bg-cubes.png);
  width: 531px;
  display: block;
  position: absolute;
  z-index: 0;
  background-size: 550px;
  background-position: 102px -100px;
  background-repeat: no-repeat; }
#offers { margin-left: 14px; }
#offers #user-offers {
  border-left-style: solid;
  border-left-color: #e62218;
  border-left-width: 0.4em; }
#promoModal .modal-dialog .modal-content .container .row h1 {
  margin-top: 20px;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 900;
  color: rgb(61, 73, 87);
  line-height: 1; }

/* Small devices to extra small*/
@media only screen and (max-width: 767px) {
  #promoModal .modal-dialog .modal-content {
    background-image: url(../imgs/bg-cubes.png);
    width: 99%; }
  #btn-signup a {
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    border-radius: 25px;
  }
}

/* Medium devices and up */
@media only screen and (min-width: 768px) {
  #promoModal .modal-dialog { margin-top: 10%; }
  #btn-signup a {
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    border-radius: 25px;
    padding: 11px 45px;
  }
}
